### Java ###
*.class
*.jar
*.war
*.ear
*.ctxt
hs_err_pid*
replay_pid*

### Build Tools ###
target/
.gradle/
build/
/out/

### IDEs ###
.idea/
*.iml
.vscode/
.metadata/
.classpath
.project
.settings/

### Spring Boot ###
HELP.md
logs/
*.log
.h2.db

### OS Files ###
.DS_Store
Thumbs.db